body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.linear-bg{
	/* IE10+ */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #3D2B24 0%, #2B2B2B 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #3D2B24 0%, #2B2B2B 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #3D2B24 0%, #2B2B2B 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #3D2B24), color-stop(100, #2B2B2B));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #3D2B24 0%, #2B2B2B 100%);

/* W3C Markup */ 
background-image: radial-gradient(ellipse farthest-corner at center, #3D2B24 0%, #2B2B2B 100%);
}	
.mobile-bar{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	display:inline-block;
	
}
nav.top-nav ul a:hover {
  background:none;
}	
nav.top-nav ul li {
    line-height: 122px;
	vertical-align:middle;
}
nav.top-nav ul li img{
    line-height: 122px;
	vertical-align:middle;
}
nav.top-nav ul li i{
    line-height: 122px;
	vertical-align:middle;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
nav.top-nav {
    height: 122px;
    box-shadow: none;
}
.side-nav a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}	
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    color: #fff !important;
}
a.button-collapse.top-nav i {
    font-size: 32px;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 122px;
    width: 48px;
    left: 0px;
    top: 0px;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 48px;
    z-index: 2;
    line-height: 122px;
}
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}
.collapsible-override{
	border:none;
	box-shadow:none;
}
a.button-collapse.top-nav.full {
    
}
.ul-wrapper{
padding:20px 20px;
}

.edit-butt{
	position: absolute;
    top: -30px;
    right: 10px;
}
.grid-element-title{
	position: absolute;
bottom: 0;
left: 0;
font-size: 1rem;
margin: 0;
line-height: 2.8rem;
padding: 0 10px;
background-color: rgba(0,0,0,0.5);
width: 100%;
color: #fff;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.databits{
padding: 0px 20px;
margin-right: 29px;

}
.bid-form button :hover{
	color:#EB5424;
	border:1px solid #EB5424;
}
/**** Settings CSS***/
.start-splash-header-content{
	padding-top: 60px;
}