body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
.mobile-bar{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	display:inline-block;
	
}
nav.top-nav ul a:hover {
  background:none;
}	
nav.top-nav ul li {
    line-height: 122px;
	vertical-align:middle;
}
nav.top-nav ul li img{
    line-height: 122px;
	vertical-align:middle;
}
nav.top-nav ul li i{
    line-height: 122px;
	vertical-align:middle;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
nav.top-nav {
    height: 122px;
    box-shadow: none;
}
.side-nav a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}	
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    color: #fff !important;
}
a.button-collapse.top-nav i {
    font-size: 32px;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 122px;
    width: 48px;
    left: 0px;
    top: 0px;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 48px;
    z-index: 2;
    line-height: 122px;
}
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}
.collapsible-override{
	border:none;
	box-shadow:none;
}
a.button-collapse.top-nav.full {
    
}
.ul-wrapper{
padding:20px 20px;
}

.action-button{
	text-align:center;
	margin-top:220px;
}
.large-blue{
font-size: 18px;
line-height: 1.5;
padding: 11px 47px 9px;
-webkit-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
-o-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
transition: background-color .15s ease,border-color .15s ease,color .15s ease;
border-width: 0;
letter-spacing: 1.2px;
min-width: 130px;
text-transform: uppercase;
white-space: normal;
color: #FFF;
background-color: #2196F3;
margin: 20px 10px 30px;
display:inline-block;
}
.large-blue:hover{
color: #2196F3;
background-color:#fff; 	
}
.large-white{
font-size: 18px;
line-height: 1.5;
padding: 11px 47px 9px;
-webkit-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
-o-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
transition: background-color .15s ease,border-color .15s ease,color .15s ease;
border-width: 0;
letter-spacing: 1.2px;
min-width: 130px;
text-transform: uppercase;
white-space: normal;
color: #2196F3;
background-color:#fff; 
margin: 20px 10px 30px;
display:inline-block;
}
.large-white:hover{
color: #2196F3;
background-color:#fff; 
}

.order-form{
	
	background:#fff;
	
}

.order-form .row{
	padding:0px 20px;
}
.login-panel{
	max-width: 370px;
margin-left: auto;
margin-right: auto;
padding: 10px 10px;
	
}
.edit-butt{
text-align: right;
position: absolute;
top: -30px;
right: 5px;}

.color-orange{
	color:#ff7043;
}
.main-blue{
	position: absolute;
top: 50%;
left: 50%;
margin-top: -28px;
margin-left: -28px;
opacity: 0;
}
.grid-element-title{
	position: absolute;
bottom: 0;
left: 0;
font-size: 1rem;
margin: 0;
line-height: 2.8rem;
padding: 0 10px;
background-color: rgba(0,0,0,0.5);
width: 100%;
color: #fff;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.databits{
padding: 0px 20px;
margin-right: 29px;

}